<!DOCTYPE html>
<html>
  <head>
    <title>StarMatcher</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to "Auditions", root_path %>
    <% if actor_signed_in? %>
        <li><%= link_to "Sign Out", destroy_actor_session_path, method: :delete %></li>
        <li><%= link_to "My Profile", actor_path(current_actor) %></li>
      <% else %>
        <li><%= link_to "Create Account", new_actor_registration_path%></li>
        <li><%= link_to "Sign In", new_actor_session_path%></li>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
